CoreAnimation.xcodeproj/project.xcworkspace/xcuserdata/xiexiaolong1.xcuserdatad/UserInterfaceState.xcuserstate
CoreAnimation.xcodeproj/project.xcworkspace/xcshareddata
CoreAnimation.xcscheme
UserInterfaceState.xcuserstate
xcschememanagement.plist
.DS_Store
